# Unity generated folders
Library/
Temp/
Obj/
Logs/
Build/
Builds/
UserSettings/
MemoryCaptures/
Packages/com.unity.collab-proxy/

# Cache and package folders
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Unity Package Manager
Packages/manifest.json
Packages/packages-lock.json
Library/PackageCache/

# OS-specific files
.DS_Store
Thumbs.db
